@import "../../styles/index.scss";

.message-text {
  &__content {
    @include type($line-height: 24 / 16);
    @include block;
    background-color: rgba(90, 94, 95, 0.08);
    width: max-content;
    border: 1px dotted $color-theme;
    border-radius: 20px;
  }
}
