@import "../../styles/index";

.chat-page {
  @include display(flex, column, nowrap, stretch, stretch);
  height: 100vh;
  width: calc(100% - #{2 * $size-wrapper-margin});
  margin: 0 auto;

  &__navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
  }

  &__log-out {
    display: none;
  }

  &__title {
    @include type($font-size: 2.4rem, $font-weight: 700);
    flex: 0 0 auto;
    margin: 24px 0;
    text-align: center;
  }

  &__message-list {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  &__message-list-item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form {
    flex: 0 0 auto;
    margin: 16px 0;
  }
}

@media (min-width: 1024px) {
  .chat-page {
    width: calc(100% - 350px);

    &__log-out {
      display: flex;
      justify-content: flex-end;
      margin-top: 8px;

      .button {
        width: 9rem;
      }
    }

    &__navigation {
      display: none;
    }
  }
}

#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.chat-page__loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
