@import "../../styles/index.scss";

.button {
  @include display(flex, row, nowrap, center, center);
  height: 40px;
}

.button.button--text {
  @include type($font-weight: 700);
  @include shape("rounded");
  padding: 0 16px;
  background-color: $color-background;
  border: 1px solid $color-theme;
  color: $color-theme-inverted;
  text-align: center;

  &:hover {
    background-color: $color-theme;
    color: $color-text;
  }
}

.button.button--icon {
  @include shape("round");
  width: 40px;
  background-color: $color-theme;

  path {
    fill: $color-theme-inverted;
  }
}
