$color-background: #ffcc34;
$color-text: #1a1405;
$color-theme: #deb22d;
$color-theme-inverted: #3a2f0c;

$font-family: "Mukta", sans-serif;

$size-radius-small: 8px;
$size-radius-large: 100%;
$size-rem: 1.6rem;
$size-wrapper-margin: 16px;
