@import "../../styles/index.scss";

.message-form {
  @include display(flex, row, nowrap, stretch, center);

  &__input {
    flex: 1 1 auto;
    margin-right: 4px;
    @include block;
  }

  &__button {
    flex: 0 0 auto;
    display: inline-block;
  }
}
