@import "../../styles/index.scss";

.join-form {
  @include block;

  &__input {
    @include block;
    margin-bottom: 16px;
  }

  &__button {
    @include block;
    margin-bottom: 16px;
    margin-bottom: 0;

    .button {
      width: 100%;
    }
  }
}
